<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: resource.data.title %>
    <style>
      .image-r {
        float: right;
        margin-left: 10px;
        margin-bottom: 10px;
      }
      .image-l {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
      }
      .clear {
        clear: both;
      }
    </style>
  </head>

  <body class="<%= resource.data.layout %> <%= resource.data.page_class %>">
    <div class="columns">
      <div class="column">
        <%= render Shared::Navbar.new(metadata: site.metadata, resource: resource) %>
      </div>
    </div>

    <div class="columns">
      <div class="column is-narrow">
        <%= render "sidebar" %>
      </div>
      <div class="column">
        <%= yield %>
      </div>
      <div class="column is-narrow">
      </div>
    </div>

    <%= render "footer", metadata: site.metadata %>
  </body>
</html>
