<aside class="menu">
  <ul class="menu-list">
    <li><a href="<%= relative_url '/bilder' %>">Bilder</a></li>
    <li><a href="<%= relative_url '/kontakt' %>">Kontakt</a></li>
  </ul>

  <p class="menu-label has-text-centered">
    Produkter
  </p>
  <ul class="menu-list">
    <li><a href="<%= relative_url '/skralle' %>">Skralle</a></li>
    <li><a href="<%= relative_url '/stativ_og_billedvevramme' %>">Stativ og billedvevramme</a></li>
    <li><a href="<%= relative_url '/vevfot' %>">Vevfot</a></li>
    <li><a href="<%= relative_url '/hovler' %>">Hovler</a></li>
    <li><a href="<%= relative_url '/sprangramme' %>">Sprangramme</a></li>
  </ul>

  <p class="menu-label has-text-centered">
    Les mer om
  </p>
  <ul class="menu-list">
    <li><a href="<%= relative_url '/tipssider' %>">Tipssider</a></li>
    <li><a href="<%= relative_url '/vevoppskrift' %>">Vevoppskrift / ruteark</a></li>
    <li><a href="<%= relative_url '/vikingskip' %>">Vikingskip bygges i Tønsberg</a></li>
    <li><a href="<%= relative_url '/nettverk_vev' %>">Nettverk Vev og Dataveven</a></li>
    <li><a href="<%= relative_url '/smia' %>">Smia Stokke Husflidslag</a></li>
  </ul>
</aside>
